<div class="h-full w-full py-10 px-40">
    <div class="h-full w-full bg-white rounded-xl flex flex-col p-10 gap-4 shadow-xl">
        <!-- title -->
        <%- include('components/title', { p: 'Admin Dashboard' }) %>

        <!-- <a href="/admin/mongo-express">Mongo Express</a> -->
        <a href="/debug">Debug Page</a>

        <p class="text-2xl font-quicksand">Users:</p>
        <% users.forEach((user, id) => { %>
            <div class="bg-gray-500 rounded p-4">
                <p><%= id %></p>
                <p><%= user._id %></p>
                <p><%= user.email %></p>
                <p><%= user.username %></p>
            </div>
        <% }) %>

    </div>
</div>
