<div class="h-full w-full py-10 px-40">
    <div class="h-full w-full bg-white rounded-xl flex flex-col p-10 gap-4 shadow-xl">
        <div class="flex flex-row justify-between px-20 font-quicksand h-full items-center">
            <!-- user info -->
            <div class="flex flex-col w-5/12 bg-gray-100 rounded-lg p-10 h-80 justify-between">
                <div class="flex flex-col gap-2">
                    <p class="text-2xl mb-2">User data:</p>
                    <div class="flex flex-row w-full justify-between">
                        <p>Username:</p>
                        <p><%= user.username %></p>
                    </div>
                    <div class="flex flex-row w-full justify-between">
                        <p>Email:</p>
                        <p><%= user.email %></p>
                    </div>
                    <div class="flex flex-row w-full justify-between">
                        <p>Created:</p>
                        <p><%= user_created %></p>
                    </div>
                </div>
                <button onclick="openEditProfileForm()" class="h-8 w-32 bg-green-500 flex items-center justify-center rounded-md text-white cursor-pointer hover:bg-green-600">
                    Edit
                </button>
                <button onclick="openDeleteAccountDialog()" class="h-8 w-32 bg-red-500 flex items-center justify-center rounded-md text-white cursor-pointer hover:bg-red-600">
                    Delete Account
                </button>
                <div id="edit_profile_modal" class="transition-all duration-700 fixed top-0 left-1/2 w-0 h-full bg-gray-500 bg-opacity-50 flex flex-col overflow-hidden">
                    <div class="font-quicksand font-light transition-all duration-1000 bg-white m-auto w-full h-1/2 flex flex-col overflow-hidden items-center">
                        <div class="w-full h-full grid place-items-center">
                            <form class="flex flex-col w-2/5 gap-2" action="/edit_profile" method="post">

                                <p class="text-4xl whitespace-nowrap">Edit user data</p>
                                <label class="flex flex-row gap-4 items-center w-full mt-4">
                                    <p class="whitespace-nowrap w-36 flex-shrink-0">Username:</p>
                                    <input class="bg-gray-300 w-full h-8 rounded outline-none focus:ring-2 focus:ring-gray-400 px-4" type="text" name="username" value="<%= user.username %>">
                                </label>
                                <label class="flex flex-row gap-4 items-center w-full">
                                    <p class="whitespace-nowrap w-36 flex-shrink-0">Email:</p>
                                    <input class="bg-gray-300 w-full h-8 rounded outline-none focus:ring-2 focus:ring-gray-400 px-4" type="text" name="email" value="<%= user.email %>">
                                </label>
                                <label class="flex flex-row gap-4 items-center w-full">
                                    <p class="whitespace-nowrap w-36 flex-shrink-0">Changing password:</p>
                                    <input id="radio_button_password" onchange="togglePassword(this.checked)" class="bg-gray-300 w-4 h-4 rounded outline-none focus:ring-2 focus:ring-gray-400 px-4" type="checkbox" name="changing_password" value="yes" autocomplete="off">
                                </label>
                                <label class="flex flex-row gap-4 items-center w-full">
                                    <p class="whitespace-nowrap w-36 flex-shrink-0">Password:</p>
                                    <input id="pass1_input" class="bg-gray-300 w-full h-8 rounded outline-none focus:ring-2 focus:ring-gray-400 px-4 disabled:bg-gray-400" type="password" name="password">
                                </label>
                                <label class="flex flex-row gap-4 items-center w-full">
                                    <p class="whitespace-nowrap w-36 flex-shrink-0">Repeat password:</p>
                                    <input id="pass2_input" class="bg-gray-300 w-full h-8 rounded outline-none focus:ring-2 focus:ring-gray-400 px-4 disabled:bg-gray-400" type="password" name="password2">
                                </label>
                                <input type="hidden" name="user_id" value="<%= user._id %>">
                                <div class="flex flex-row text-white justify-between gap-8 mt-4">
                                    <button type="button" onclick="openEditProfileForm()" class="w-20 h-8 rounded bg-red-500 hover:bg-red-600">
                                        Cancel
                                    </button>
                                    <button type="submit" class="w-20 h-8 rounded bg-green-500 hover:bg-green-600">
                                        Save
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div id="delete_account_modal" class="transition-all duration-700 fixed top-0 left-1/2 w-0 h-full bg-gray-500 bg-opacity-50 flex flex-col overflow-hidden">
                    <div class="font-quicksand font-light transition-all duration-1000 bg-white m-auto w-full h-1/2 flex flex-col overflow-hidden items-center">
                        <div class="w-full h-full grid place-items-center">
                            <form class="flex flex-col w-2/5 gap-2" action="/delete_account" method="post">

                                <p class="text-4xl whitespace-nowrap">Delete this account?</p>
                                
                                <input type="hidden" name="user_id" value="<%= user._id %>">
                                <div class="flex flex-row text-white justify-between gap-8 mt-4">
                                    <button type="button" onclick="openDeleteAccountDialog()" class="w-20 h-8 rounded bg-blue-500 hover:bg-blue-600">
                                        Cancel
                                    </button>
                                    <button type="submit" class="w-20 h-8 rounded bg-red-500 hover:bg-red-600">
                                        Delete
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>


            </div>

            <!-- users's projects info -->
            <div class="flex flex-col w-5/12 bg-gray-100 rounded-lg p-10 gap-2 h-80">
                <p class="text-2xl mb-2">Projects statistics:</p>
                <div class="flex flex-row justify-between">
                    <p>Initiated:</p>
                    <p><%= projects_info.initial_number %></p>
                </div>
                <div class="flex flex-row justify-between">
                    <p>Waiting in queue:</p>
                    <p><%= projects_info.waiting_number %></p>
                </div>
                <div class="flex flex-row justify-between">
                    <p>In processing:</p>
                    <p><%= projects_info.processing_number %></p>
                </div>
                <div class="flex flex-row justify-between">
                    <p>Finished:</p>
                    <p><%= projects_info.finished_number %></p>
                </div>
                <div class="flex flex-row justify-between">
                    <p>With errors:</p>
                    <p><%= projects_info.error_number %></p>
                </div>

                <div class="flex flex-row justify-between mt-2">
                    <p>Total number of projects:</p>
                    <p><%= projects_info.initial_number + projects_info.waiting_number + projects_info.processing_number + projects_info.finished_number + projects_info.error_number %></p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    const edit_profile_modal = document.getElementById('edit_profile_modal')
    const radio_button_password = document.getElementById('radio_button_password')
    const pass1_input = document.getElementById('pass1_input')
    const pass2_input = document.getElementById('pass2_input')

    const delete_account_modal = document.getElementById('delete_account_modal')

    const openEditProfileForm = () => {
        edit_profile_modal.classList.toggle('w-0')
        edit_profile_modal.classList.toggle('w-full')
        edit_profile_modal.classList.toggle('left-1/2')
        edit_profile_modal.classList.toggle('left-0')
    }

    const togglePassword = value => {
        pass1_input.disabled = !value
        pass2_input.disabled = !value
    }

    togglePassword(radio_button_password.checked)

    const openDeleteAccountDialog = () => {
        delete_account_modal.classList.toggle('w-0')
        delete_account_modal.classList.toggle('w-full')
        delete_account_modal.classList.toggle('left-1/2')
        delete_account_modal.classList.toggle('left-0')
    }

</script>