<!DOCTYPE html>
<html lang="en">
<%- include('../../components/head/_head.ejs') %>
<body class="flex flex-row bg-gray-200 font-quicksand relative">

    <!-- toasts -->
    <%- include('components/toast.ejs') %>

    <!-- left panel -->
    <%- include('components/navbar.ejs') %>

    <!-- main content -->
    <div class="flex flex-col px-8 py-4 flex-grow gap-8 mb-8">
        <p class="text-2xl">Files</p>

        <!-- tabs -->
        <div class="flex flex-row gap-4">
            <a href="/admin/files" class="hover:text-gray-900 hover:border-b-2 hover:border-gray-900 <%= selectedTab === '' ? 'text-gray-900 border-b-2 border-gray-900' : 'text-gray-500' %>">User files</a>
            <a href="/admin/files/demos" class="hover:text-gray-900 hover:border-b-2 hover:border-gray-900 <%= selectedTab === 'demos' ? 'text-gray-900 border-b-2 border-gray-900' : 'text-gray-500' %>">Example files</a>
        </div>

        <!-- action buttons -->
        <div class="flex flex-row gap-4">
            <% if (selectedTab === '') { %>
            <button onclick="toggleModalUploadFile()" class="flex flex-row gap-2 cursor-pointer items-center bg-blue-500 self-start px-4 py-2 text-white rounded-xl -mb-4 hover:bg-blue-600">
                <div class="w-6">
                    <%- include('components/icons/upload.svg') %>
                </div>
                <p>Upload new File</p>
            </button>
            <% } else if (selectedTab === 'demos') { %>
            <button onclick="toggleModalUploadDemo()" class="flex flex-row gap-2 cursor-pointer items-center bg-blue-500 self-start px-4 py-2 text-white rounded-xl -mb-4 hover:bg-blue-600">
                <div class="w-6">
                    <%- include('components/icons/upload.svg') %>
                </div>
                <p>Upload new Example File</p>
            </button>
            <% } %>
        </div>

        <% if (selectedTab === '') { %>
        <!-- upload file modal -->
        <div id="modal_upload_file" class="hidden place-items-center bg-gray-500 fixed top-0 right-0 left-0 w-full h-full bg-opacity-50">
            <form action="/admin/files/upload" method="post" enctype="multipart/form-data" class="bg-gray-200 px-12 py-10 relative rounded-xl flex flex-col gap-6">
                
                <div class="w-4 text-gray-400 absolute top-4 right-4 cursor-pointer" onclick="toggleModalUploadFile()">
                    <%- include('components/icons/cross.svg') %>
                </div>

                <div class="w-16 text-blue-500 self-center">
                    <%- include('components/icons/upload.svg') %>
                </div>

                <p class="text-lg text-center">Upload new File</p>
                <input type="file" name="file">

                <div class="flex flex-row gap-2">

                    <button type="submit" class="flex flex-row w-full cursor-pointer bg-blue-500 px-4 py-2 text-white rounded-xl hover:bg-blue-600 justify-center">
                        Upload File
                    </button>

                    <button type="button" onclick="toggleModalUploadFile()" class="flex flex-row w-full cursor-pointer bg-gray-500 px-4 py-2 text-white rounded-xl hover:bg-gray-600 justify-center">
                        Cancel
                    </button>
                </div>

            </form>
        </div>
        <% } else if (selectedTab === 'demos') { %>
        <!-- upload demo file modal -->
        <div id="modal_upload_demo" class="hidden place-items-center bg-gray-500 fixed top-0 right-0 left-0 w-full h-full bg-opacity-50">
            <form action="/admin/files/demos/upload" method="post" enctype="multipart/form-data" class="bg-gray-200 px-12 py-10 relative rounded-xl flex flex-col gap-6">
                
                <div class="w-4 text-gray-400 absolute top-4 right-4 cursor-pointer" onclick="toggleModalUploadDemo()">
                    <%- include('components/icons/cross.svg') %>
                </div>

                <div class="w-16 text-blue-500 self-center">
                    <%- include('components/icons/upload.svg') %>
                </div>

                <p class="text-lg text-center">Upload new Example File</p>
                <input type="file" name="file">

                <div class="flex flex-row gap-2">

                    <button type="submit" class="flex flex-row w-full cursor-pointer bg-blue-500 px-4 py-2 text-white rounded-xl hover:bg-blue-600 justify-center">
                        Upload File
                    </button>

                    <button type="button" onclick="toggleModalUploadDemo()" class="flex flex-row w-full cursor-pointer bg-gray-500 px-4 py-2 text-white rounded-xl hover:bg-gray-600 justify-center">
                        Cancel
                    </button>
                </div>

            </form>
        </div>
        <% } %>

        <%- include('components/table.ejs') %>

    </div>

    <script>
        const toggleModalUploadFile = () => {
            const modal_upload_file = document.getElementById('modal_upload_file');
            modal_upload_file.classList.toggle('hidden');
            modal_upload_file.classList.toggle('grid');
        }

        const toggleModalUploadDemo = () => {
            const modal_upload_demo = document.getElementById('modal_upload_demo');
            modal_upload_demo.classList.toggle('hidden');
            modal_upload_demo.classList.toggle('grid');
        }

    </script>

</body>
</html>
