<div class="flex flex-row items-center gap-4">
    <div class="border-t border-orange-500 mt-2 flex-grow"></div>
    <p class="text-2xl text-center"><%= p %></p>
    <div class="border-t border-orange-500 mt-2 flex-grow"></div>
</div>

<div class="absolute right-4 top-4 flex flex-col gap-2 z-10 items-end font-normal">
    <% if (successes) { successes.forEach(text => { %>
    <div onclick="deleteToast(this)" class="transition-all duration-500 opacity-100 divide-x-2 divide-gray-200 flex flex-row bg-white rounded-xl text-gray-500 px-4 py-2 gap-2 items-center">
        <div class="w-8 text-green-500 flex-shrink-0">
            <%- include ('../../../../../public/icons/check.svg') %>
        </div>
        <p class="pl-3 text-gray-500 cursor-default max-w-5xl"><%= text %></p>
    </div>

    <% })} %>
    <% if (errors) { errors.forEach((text, id) => { %>
    <div onclick="deleteToast(this)" class="transition-all duration-500 opacity-100 divide-x-2 divide-gray-200 flex flex-row bg-white rounded-xl text-gray-500 px-4 py-2 gap-2 items-center">
        <div class="w-6 m-1 text-red-500 flex-shrink-0">
            <%- include ('../../../../../public/icons/cross2.svg') %>
        </div>
        <p class="pl-3 text-gray-500 cursor-default max-w-5xl"><%= text %></p>
    </div>
    <% })} %>
</div>

<script>
    const deleteToast = ob => {
        ob.classList.toggle('opacity-100');
        ob.classList.toggle('opacity-0');
        setTimeout(() => ob.remove(), 500)
    }
</script>
